<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.epa.mapper.paper.TestPaperMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.epa.model.TestPaper" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="schoolId" property="schoolId" jdbcType="INTEGER" />
    <result column="majorId" property="majorId" jdbcType="INTEGER" />
    <result column="semester" property="semester" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="chapterIds" property="chapterIds" jdbcType="VARCHAR" />
    <result column="knowIds" property="knowIds" jdbcType="VARCHAR" />
    <result column="postTeacherId" property="postTeacherId" jdbcType="INTEGER" />
    <result column="checkTeacherId" property="checkTeacherId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="paperType" property="paperType" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="totalScore" property="totalScore" jdbcType="REAL" />
    <result column="passScore" property="passScore" jdbcType="REAL" />
    <result column="queTypes" property="queTypes" jdbcType="VARCHAR" />
    <result column="isTemplate" property="isTemplate" jdbcType="INTEGER" />
    <result column="dot" property="dot" jdbcType="REAL" />
  </resultMap>
  <!--write by yifang start-->
  <resultMap id="TestPaperAllInfo" type="com.zzti.epa.model.TestPaper" extends="BaseResultMap">
    <association property="teacher" javaType="com.zzti.epa.model.Teacher">
      <result column="tid" property="id" jdbcType="INTEGER"/>
      <result column="tname" property="name" jdbcType="INTEGER"/>
    </association>
    <association property="course" javaType="com.zzti.epa.model.Course">
      <result column="cid" property="id" jdbcType="INTEGER"/>
      <result column="cname" property="name" jdbcType="INTEGER"/>
    </association>
    <association property="school" javaType="com.zzti.epa.model.School">
      <result column="sid" property="id" jdbcType="INTEGER"/>
      <result column="sname" property="name" jdbcType="INTEGER"/>
    </association>
    <association property="major" javaType="com.zzti.epa.model.Major">
      <result column="sid" property="id" jdbcType="INTEGER"/>
      <result column="sname" property="name" jdbcType="INTEGER"/>
    </association>
  </resultMap>
  <select id="getTestPaperByPage" resultMap="TestPaperAllInfo">
          select DISTINCT tp.*,t.id as tid, t.name as tname,c.id as cid,c.name as cname,s.id as sid,s.name as sname,m.id as mid,m.name as mname
      FROM
      test_paper tp,teacher t,school s,course c,major m
      where tp.postTeacherId=t.id
      and tp.schoolId =s.id
      and tp.courseId=c.id
      and tp.majorId=m.id

    <if test="tp.name!=null and tp.name!=''">
      and tp.name like concat('%',#{tp.name},'%')
    </if>
    <if test="tp.courseId !=null">
      and tp.courseId=#{tp.courseId}
    </if>
    <if test="tp.postTeacherId !=null">
      and tp.postTeacherId =#{tp.postTeacherId}
    </if>
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotal" resultType="Long">
    select count(*) from test_paper tp
    <where>
      <if test="tp.courseId !=null">
        and tp.courseId=#{tp.courseId}
      </if>
      <if test="tp.postTeacherId !=null">
        and tp.postTeacherId =#{tp.postTeacherId}
      </if>
    </where>

  </select>
  <!--write by yifang end-->

  <!--write by writer start-->

  <resultMap id="ListOfTestPaper" type="com.zzti.epa.model.analysis.ListOfTestPaper">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="DATE" />
    <result column="tname" property="teacher" jdbcType="VARCHAR" />
  </resultMap>


  <select id="select_ListOfTestPaper" resultMap="ListOfTestPaper" >
    select
    test_paper.id,test_paper.name,test_paper.createTime,teacher.name "tname"
    from test_paper inner join teacher
    where test_paper.postTeacherId=teacher.id;
  </select>

  <!--write by writer end-->


  <sql id="Base_Column_List" >
    id, name, schoolId, majorId, semester, createTime, updateTime, courseId, chapterIds,
    knowIds, postTeacherId, checkTeacherId, status, paperType, remark, totalScore, passScore,
    queTypes, isTemplate,dot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from test_paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from test_paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzti.epa.model.TestPaper" >
    insert into test_paper (id, name, schoolId,
      majorId, semester, createTime,
      updateTime, courseId, chapterIds,
      knowIds, postTeacherId, checkTeacherId,
      status, paperType, remark,
      totalScore, passScore, queTypes,
      isTemplate, dot)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{schoolId,jdbcType=INTEGER},
      #{majorId,jdbcType=INTEGER}, #{semester,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE},
      #{updateTime,jdbcType=TIMESTAMP}, #{courseId,jdbcType=INTEGER}, #{chapterIds,jdbcType=VARCHAR},
      #{knowIds,jdbcType=VARCHAR}, #{postTeacherId,jdbcType=INTEGER}, #{checkTeacherId,jdbcType=INTEGER},
      #{status,jdbcType=INTEGER}, #{paperType,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR},
      #{totalScore,jdbcType=REAL}, #{passScore,jdbcType=REAL}, #{queTypes,jdbcType=VARCHAR},
      #{isTemplate,jdbcType=INTEGER}, #{dot,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.epa.model.TestPaper"  useGeneratedKeys="true" keyProperty="id">
    insert into test_paper
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="schoolId != null" >
        schoolId,
      </if>
      <if test="majorId != null" >
        majorId,
      </if>
      <if test="semester != null" >
        semester,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="chapterIds != null" >
        chapterIds,
      </if>
      <if test="knowIds != null" >
        knowIds,
      </if>
      <if test="postTeacherId != null" >
        postTeacherId,
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="paperType != null" >
        paperType,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="totalScore != null" >
        totalScore,
      </if>
      <if test="passScore != null" >
        passScore,
      </if>
      <if test="queTypes != null" >
        queTypes,
      </if>
      <if test="isTemplate != null" >
        isTemplate,
      </if>
      <if test="dot != null" >
        dot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="majorId != null" >
        #{majorId,jdbcType=INTEGER},
      </if>
      <if test="semester != null" >
        #{semester,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterIds != null" >
        #{chapterIds,jdbcType=VARCHAR},
      </if>
      <if test="knowIds != null" >
        #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="postTeacherId != null" >
        #{postTeacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="paperType != null" >
        #{paperType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null" >
        #{totalScore,jdbcType=REAL},
      </if>
      <if test="passScore != null" >
        #{passScore,jdbcType=REAL},
      </if>
      <if test="queTypes != null" >
        #{queTypes,jdbcType=VARCHAR},
      </if>
      <if test="isTemplate != null" >
        #{isTemplate,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        #{dot,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.epa.model.TestPaper" >
    update test_paper
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        schoolId = #{schoolId,jdbcType=INTEGER},
      </if>
      <if test="majorId != null" >
        majorId = #{majorId,jdbcType=INTEGER},
      </if>
      <if test="semester != null" >
        semester = #{semester,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterIds != null" >
        chapterIds = #{chapterIds,jdbcType=VARCHAR},
      </if>
      <if test="knowIds != null" >
        knowIds = #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="postTeacherId != null" >
        postTeacherId = #{postTeacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="paperType != null" >
        paperType = #{paperType,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null" >
        totalScore = #{totalScore,jdbcType=REAL},
      </if>
      <if test="passScore != null" >
        passScore = #{passScore,jdbcType=REAL},
      </if>
      <if test="queTypes != null" >
        queTypes = #{queTypes,jdbcType=VARCHAR},
      </if>
      <if test="isTemplate != null" >
        isTemplate = #{isTemplate,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        dot = #{dot,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.epa.model.TestPaper" >
    update test_paper
    set name = #{name,jdbcType=VARCHAR},
      schoolId = #{schoolId,jdbcType=INTEGER},
      majorId = #{majorId,jdbcType=INTEGER},
      semester = #{semester,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=DATE},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      courseId = #{courseId,jdbcType=INTEGER},
      chapterIds = #{chapterIds,jdbcType=VARCHAR},
      knowIds = #{knowIds,jdbcType=VARCHAR},
      postTeacherId = #{postTeacherId,jdbcType=INTEGER},
      checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      paperType = #{paperType,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      totalScore = #{totalScore,jdbcType=REAL},
      passScore = #{passScore,jdbcType=REAL},
      queTypes = #{queTypes,jdbcType=VARCHAR},
       isTemplate = #{isTemplate,jdbcType=INTEGER},
      dot = #{dot,jdbcType=REAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>