<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.epa.mapper.question.FBQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.epa.model.FBQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowIds" property="knowids" jdbcType="VARCHAR" />
    <result column="stem" property="stem" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherid" jdbcType="INTEGER" />
    <result column="checkTeacherId" property="checkteacherid" jdbcType="INTEGER" />
    <result column="courseId" property="courseid" jdbcType="INTEGER" />
    <result column="chapterId" property="chapterid" jdbcType="INTEGER" />
    <result column="dot" property="dot" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, knowIds, stem, answer, analysis, teacherId, checkTeacherId, courseId, chapterId, 
    dot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fb_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fb_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzti.epa.model.FBQuestion" >
    insert into fb_question (id, knowIds, stem, 
      answer, analysis, teacherId, 
      checkTeacherId, courseId, chapterId, 
      dot)
    values (#{id,jdbcType=INTEGER}, #{knowids,jdbcType=VARCHAR}, #{stem,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{analysis,jdbcType=VARCHAR}, #{teacherid,jdbcType=INTEGER}, 
      #{checkteacherid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{chapterid,jdbcType=INTEGER}, 
      #{dot,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.epa.model.FBQuestion" >
    insert into fb_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="knowids != null" >
        knowIds,
      </if>
      <if test="stem != null" >
        stem,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="checkteacherid != null" >
        checkTeacherId,
      </if>
      <if test="courseid != null" >
        courseId,
      </if>
      <if test="chapterid != null" >
        chapterId,
      </if>
      <if test="dot != null" >
        dot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowids != null" >
        #{knowids,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="checkteacherid != null" >
        #{checkteacherid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        #{dot,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.epa.model.FBQuestion" >
    update fb_question
    <set >
      <if test="knowids != null" >
        knowIds = #{knowids,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        stem = #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=INTEGER},
      </if>
      <if test="checkteacherid != null" >
        checkTeacherId = #{checkteacherid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null" >
        courseId = #{courseid,jdbcType=INTEGER},
      </if>
      <if test="chapterid != null" >
        chapterId = #{chapterid,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        dot = #{dot,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.epa.model.FBQuestion" >
    update fb_question
    set knowIds = #{knowids,jdbcType=VARCHAR},
      stem = #{stem,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      teacherId = #{teacherid,jdbcType=INTEGER},
      checkTeacherId = #{checkteacherid,jdbcType=INTEGER},
      courseId = #{courseid,jdbcType=INTEGER},
      chapterId = #{chapterid,jdbcType=INTEGER},
      dot = #{dot,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>