<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.epa.mapper.question.FBQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.epa.model.FBQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowIds" property="knowIds" jdbcType="VARCHAR" />
    <result column="stem" property="stem" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherId" jdbcType="INTEGER" />
    <result column="checkTeacherId" property="checkTeacherId" jdbcType="INTEGER" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="chapterId" property="chapterId" jdbcType="INTEGER" />
    <result column="dot" property="dot" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="AllFBQuestionInfo" type="com.zzti.epa.model.FBQuestion" extends="BaseResultMap">
    <association property="teacher" javaType="com.zzti.epa.model.Teacher">
      <id column="tid" property="id"/>
      <result column="tname" property="name"></result>
    </association>

  </resultMap>
  <select id="getFBQuestionByPage">
select fb.*,t.id as tid,t.name as tname from fb_question fb ,teacher t
where fb.teacherId=t.id

    <if test="fb.courseId !=null and fb.chapterId!=null">
      and fb.courseId=#{fb.courseId}
      and fb.chapterId =#{fb.chapterId}
    </if>
    <if test="fb.courseId !=null">
      and fb.chapterId =#{fb.chapterId}
    </if>
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotal" resultType="Long">
    select count(*) from fb_question fb
    <where>

      <if test="fb.courseId !=null and fb.chapterId!=null">
        and fb.courseId=#{fb.courseId}
        and fb.chapterId =#{fb.chapterId}
      </if>
      <if test="fb.courseId !=null">
        and fb.chapterId =#{fb.chapterId}
      </if>
    </where>

  </select>
  <select id="getFBQuestionById" resultType="com.zzti.epa.model.FBQuestion">
    select * from fb_question where id=#{id};
  </select>













  <sql id="Base_Column_List" >
    id, knowIds, stem, answer, analysis, teacherId, checkTeacherId, courseId, chapterId, 
    dot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from fb_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from fb_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzti.epa.model.FBQuestion" >
    insert into fb_question (id, knowIds, stem, 
      answer, analysis, teacherId, 
      checkTeacherId, courseId, chapterId, 
      dot)
    values (#{id,jdbcType=INTEGER}, #{knowIds,jdbcType=VARCHAR}, #{stem,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{analysis,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, 
      #{checkTeacherId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, 
      #{dot,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.epa.model.FBQuestion" useGeneratedKeys="true" keyProperty="id">
    insert into fb_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="knowIds != null" >
        knowIds,
      </if>
      <if test="stem != null" >
        stem,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="teacherId != null" >
        teacherId,
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="chapterId != null" >
        chapterId,
      </if>
      <if test="dot != null" >
        dot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowIds != null" >
        #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        #{dot,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.epa.model.FBQuestion" >
    update fb_question
    <set >
      <if test="knowIds != null" >
        knowIds = #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        stem = #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacherId = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        chapterId = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        dot = #{dot,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.epa.model.FBQuestion" >
    update fb_question
    set knowIds = #{knowIds,jdbcType=VARCHAR},
      stem = #{stem,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      teacherId = #{teacherId,jdbcType=INTEGER},
      checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      courseId = #{courseId,jdbcType=INTEGER},
      chapterId = #{chapterId,jdbcType=INTEGER},
      dot = #{dot,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>