<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.epa.mapper.question.MCQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.epa.model.MCQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowIds" property="knowIds" jdbcType="VARCHAR" />
    <result column="stem" property="stem" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="checkTeacherId" property="checkTeacherId" jdbcType="INTEGER" />
    <result column="teacherId" property="teacherId" jdbcType="INTEGER" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="chapterId" property="chapterId" jdbcType="INTEGER" />
    <result column="dot" property="dot" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="AllMCQuestionInfo" type="com.zzti.epa.model.MCQuestion" extends="BaseResultMap">
    <association property="teacher" javaType="com.zzti.epa.model.Teacher">
      <id column="tid" property="id"/>
      <result column="tname" property="name"></result>
    </association>

    <collection property="options" ofType="com.zzti.epa.model.MCOption">
      <id column="oid" property="id"/>
      <result column="optionNum" property="optionNum"/>
      <result column="optionContent" property="optionContent"/>
    </collection>
  </resultMap>
  <resultMap id="MCQuestionWithOption" type="com.zzti.epa.model.MCQuestion" extends="BaseResultMap">
    <collection property="options" ofType="com.zzti.epa.model.MCOption">
      <id column="oid" property="id"/>
      <result column="optionNum" property="optionNum"/>
      <result column="optionContent" property="optionContent"/>
    </collection>
  </resultMap>
<select id="getMCQuestionByPage" resultMap="AllMCQuestionInfo">
  select mc.*,t.id as tid,t.name as tname,mco.id as oid, mco.optionNum, mco.optionContent from mc_question mc,teacher t,mc_option mco
where mc.teacherId=t.id
			and mc.id=mco.mcId
  <if test="mc.courseId !=null and mc.chapterId!=null">
    and mc.courseId=#{mc.courseId}
    and mc.chapterId =#{mc.chapterId}
  </if>
  <if test="mc.courseId !=null">
    and mc.chapterId =#{mc.chapterId}
  </if>
  <if test="mc.dot != null" >
    and mc.dot =#{mc.dot}
  </if>
  <if test="page !=null and size!=null">
    limit #{page},#{size}
  </if>
</select>
  <select id="getTotal" resultType="Long">
    select count(*) from mc_question mc
    <where>

      <if test="mc.courseId !=null and mc.chapterId!=null">
        and mc.courseId=#{mc.courseId}
        and mc.chapterId =#{mc.chapterId}
      </if>
      <if test="mc.courseId !=null">
        and mc.chapterId =#{mc.chapterId}
      </if>
      <if test="mc.dot != null" >
        and mc.dot =#{mc.dot}
      </if>
    </where>

  </select>
  <select id="getMCQuestionById" resultMap="MCQuestionWithOption">
      select mc.*,mco.id as oid, mco.optionNum, mco.optionContent from mc_question mc,mc_option mco
    where mc.id=mco.mcId
      and mc.id=#{id}
  </select>




  <sql id="Base_Column_List" >
    id, knowIds, stem, answer, analysis, checkTeacherId, teacherId, courseId, chapterId, 
    dot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mc_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mc_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzti.epa.model.MCQuestion" >
    insert into mc_question (id, knowIds, stem, 
      answer, analysis, checkTeacherId, 
      teacherId, courseId, chapterId, 
      dot,status,updateTime)
    values (#{id,jdbcType=INTEGER}, #{knowIds,jdbcType=VARCHAR}, #{stem,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{analysis,jdbcType=VARCHAR}, #{checkTeacherId,jdbcType=INTEGER}, 
      #{teacherId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, 
      #{dot,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.epa.model.MCQuestion" useGeneratedKeys="true" keyProperty="id">
    insert into mc_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="knowIds != null" >
        knowIds,
      </if>
      <if test="stem != null" >
        stem,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId,
      </if>
      <if test="teacherId != null" >
        teacherId,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="chapterId != null" >
        chapterId,
      </if>
      <if test="dot != null" >
        dot,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowIds != null" >
        #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="checkTeacherId != null" >
        #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        #{dot,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.epa.model.MCQuestion" >
    update mc_question
    <set >
      <if test="knowIds != null" >
        knowIds = #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        stem = #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="teacherId != null" >
        teacherId = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        chapterId = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        dot = #{dot,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.epa.model.MCQuestion" >
    update mc_question
    set knowIds = #{knowIds,jdbcType=VARCHAR},
      stem = #{stem,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      teacherId = #{teacherId,jdbcType=INTEGER},
      courseId = #{courseId,jdbcType=INTEGER},
      chapterId = #{chapterId,jdbcType=INTEGER},
      dot = #{dot,jdbcType=TINYINT},
       status = #{status,jdbcType=TINYINT},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>