<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzti.epa.mapper.question.TFQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.zzti.epa.model.TFQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="knowIds" property="knowIds" jdbcType="VARCHAR" />
    <result column="stem" property="stem" jdbcType="VARCHAR" />
    <result column="answer" property="answer" jdbcType="VARCHAR" />
    <result column="analysis" property="analysis" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherId" jdbcType="INTEGER" />
    <result column="checkTeacherId" property="checkTeacherId" jdbcType="INTEGER" />
    <result column="courseId" property="courseId" jdbcType="INTEGER" />
    <result column="chapterId" property="chapterId" jdbcType="INTEGER" />
    <result column="dot" property="dot" jdbcType="TINYINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <resultMap id="AllTFQuestionInfo" type="com.zzti.epa.model.TFQuestion" extends="BaseResultMap">
    <association property="teacher" javaType="com.zzti.epa.model.Teacher">
      <id column="tid" property="id"/>
      <result column="tname" property="name"></result>
    </association>

  </resultMap>
  <resultMap id="TFQuestionWithChapter" type="com.zzti.epa.model.TFQuestion" extends="BaseResultMap">
    <association property="chapter" javaType="com.zzti.epa.model.Chapter">
      <result column="cid" property="id" jdbcType="INTEGER"/>
      <result column="cname" property="name" jdbcType="INTEGER"/>
    </association>
  </resultMap>

  <select id="getTFQuestionByPage" resultMap="AllTFQuestionInfo">
select tf.*,t.id as tid,t.name as tname from tf_question tf,teacher t
where tf.teacherId=t.id and tf.status=1
    <if test="tf.stem !=null and tf.stem!=''">
      and tf.stem like concat('%',#{tf.stem},'%')
    </if>
    <if test="tf.chapterId !=null">
      and tf.chapterId =#{tf.chapterId}
    </if>
    <if test="tf.courseId !=null">
      and tf.courseId =#{tf.courseId}
    </if>
    <if test="tf.dot != null" >
      and tf.dot =#{tf.dot}
    </if>
    <if test="page !=null and size!=null">
      limit #{page},#{size}
    </if>
  </select>
  <select id="getTotal" resultType="Long">
    select count(*) from tf_question tf
    <where>
      <if test="tf.stem !=null and tf.stem!=''">
        and tf.stem like concat('%',#{tf.stem},'%')
      </if>
      <if test="tf.courseId !=null and tf.chapterId!=null">
        and tf.courseId=#{tf.courseId}
        and tf.chapterId =#{tf.chapterId}
      </if>
      <if test="tf.courseId !=null">
        and tf.courseId =#{tf.courseId}
      </if>
      <if test="tf.dot != null" >
        and tf.dot =#{tf.dot}
      </if>
    </where>

  </select>
<select id="getTFQuestionById" resultMap="TFQuestionWithChapter">
  select tf.*, c.id as cid, c.name as cname from tf_question tf,chapter c where tf.chapterId=c.id and tf.id=#{id}
</select>
<select id="getTFQuestionByCourseId" resultType="com.zzti.epa.model.TFQuestion">
  select * from tf_question where courseId=#{id}
</select>

  <select id="getTFQuestionById2" resultType="com.zzti.epa.model.TFQuestion">
    select * from tf_question where id=#{id}
  </select>




  <sql id="Base_Column_List" >
    id, knowIds, stem, answer, analysis, teacherId, checkTeacherId, courseId, chapterId, 
    dot
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tf_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tf_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzti.epa.model.TFQuestion" >
    insert into tf_question (id, knowIds, stem, 
      answer, analysis, teacherId, 
      checkTeacherId, courseId, chapterId, 
      dot,status,updateTime)
    values (#{id,jdbcType=INTEGER}, #{knowIds,jdbcType=VARCHAR}, #{stem,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{analysis,jdbcType=VARCHAR}, #{teacherId,jdbcType=INTEGER}, 
      #{checkTeacherId,jdbcType=INTEGER}, #{courseId,jdbcType=INTEGER}, #{chapterId,jdbcType=INTEGER}, 
      #{dot,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zzti.epa.model.TFQuestion" useGeneratedKeys="true" keyProperty="id">
    insert into tf_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="knowIds != null" >
        knowIds,
      </if>
      <if test="stem != null" >
        stem,
      </if>
      <if test="answer != null" >
        answer,
      </if>
      <if test="analysis != null" >
        analysis,
      </if>
      <if test="teacherId != null" >
        teacherId,
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId,
      </if>
      <if test="courseId != null" >
        courseId,
      </if>
      <if test="chapterId != null" >
        chapterId,
      </if>
      <if test="dot != null" >
        dot,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="knowIds != null" >
        #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        #{dot,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzti.epa.model.TFQuestion" >
    update tf_question
    <set >
      <if test="knowIds != null" >
        knowIds = #{knowIds,jdbcType=VARCHAR},
      </if>
      <if test="stem != null" >
        stem = #{stem,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="analysis != null" >
        analysis = #{analysis,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacherId = #{teacherId,jdbcType=INTEGER},
      </if>
      <if test="checkTeacherId != null" >
        checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      </if>
      <if test="courseId != null" >
        courseId = #{courseId,jdbcType=INTEGER},
      </if>
      <if test="chapterId != null" >
        chapterId = #{chapterId,jdbcType=INTEGER},
      </if>
      <if test="dot != null" >
        dot = #{dot,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzti.epa.model.TFQuestion" >
    update tf_question
    set knowIds = #{knowIds,jdbcType=VARCHAR},
      stem = #{stem,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      analysis = #{analysis,jdbcType=VARCHAR},
      teacherId = #{teacherId,jdbcType=INTEGER},
      checkTeacherId = #{checkTeacherId,jdbcType=INTEGER},
      courseId = #{courseId,jdbcType=INTEGER},
      chapterId = #{chapterId,jdbcType=INTEGER},
      dot = #{dot,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>